Flask
flask-cors
scikit-learn
numpy==1.21.6   # Sangat disarankan versi ini untuk kompatibilitas TF 2.x yang lebih lama
pandas
tensorflow==2.10.0 # Versi TensorFlow yang sering lebih stabil di CPU dan Python 3.10
joblib
gunicorn
uvicorn