Flask
flask-cors
scikit-learn
numpy==1.21.6   # Versi numpy yang sangat direkomendasikan untuk kompatibilitas dengan TF 2.9/2.10
pandas
tensorflow==2.10.0 # Versi TensorFlow yang terbukti stabil di lingkungan CPU dan Python 3.10
joblib
gunicorn
uvicorn # Diperlukan untuk uvicorn.workers.UvicornWorker dan WSGIMiddleware