Flask
flask-cors
scikit-learn # Jika model joblib adalah dari sklearn
numpy
pandas
tensorflow # Untuk model LSTM .h5
joblib # Untuk model ARIMA .joblib
gunicorn
uvicorn # Diperlukan untuk uvicorn.workers.UvicornWorker dan WSGIMiddleware